<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.twodee.acknet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	
	<uses-permission 
	    android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <activity
            android:name="org.twodee.acknet.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity  android:name=".MainActivity">
		     <intent-filter>
		        <action android:name="android.intent.action.MainActivity" />                   
		     </intent-filter>
		</activity>
        
        
        <activity  android:name=".LoginActivity">
		     <intent-filter>
		        <action android:name="android.intent.action.LOGIN" />                   
		     </intent-filter>
		</activity>
		
         <activity  android:name=".Timeline">
		     <intent-filter>
		        <action android:name="android.intent.action.TIMELINE" />                   
		     </intent-filter>
		</activity>
        
        
        <activity  android:name=".MyPreferenceActivity">
            
            
        </activity>
        
        <activity android:name=".AndroidDashboardDesignActivity" ></activity>
        
        <activity android:name=".NewsFeedActivity" ></activity>
        <activity android:name=".FriendsActivity" ></activity>
        <activity android:name=".PlacesActivity" ></activity>
        <activity android:name=".MessagesActivity" ></activity>
        <activity android:name=".EventsActivity" ></activity>
        <activity android:name=".PhotosActivity" ></activity>
        <activity android:name=".CustomizedListView" ></activity>
        
	</application>

</manifest>
